<mat-dialog-content>
    <div class="pb-6">
        <h2 class="text-[14px] font-medium p-primary-color">Editar sensor de "{{getSensorName(sensor.type)}}"</h2>
    </div>
    <form [formGroup]="formSensor">
        <div class="flex flex-col gap-4 w-[330px]">
            <div>
                <label for="sensor_ok" class="block mb-2 text-[14px] font-medium label-form-color">
                    Cantidad de lecturas OK
                </label>
                <input [ngClass]="{'input-form-dialog-error': formSensor.controls['sensor_ok'].errors?.['max'] || formSensor.controls['sensor_ok'].errors?.['pattern']}" type="text" id="sensor_ok" formControlName="sensor_ok"
                    class=" bg-gray-50 border border-gray-300 font-medium text-gray-900 text-[14px] rounded-lg block w-full p-2.5"
                    placeholder="Ingrese" required />
                    <p *ngIf="formSensor.controls['sensor_ok'].errors?.['max']" class="p-red text-xs mt-1">
                        El valor máximo a configurar es de 1000.
                    </p>
                    <p *ngIf="formSensor.controls['sensor_ok'].errors?.['pattern']" class="text-red-500 text-xs mt-1">
                        Solo se permiten números enteros.
                    </p>
            </div>
            <div>
                <label for="medium_alerts" class="block mb-2 text-[14px] font-medium label-form-color">
                    Alertas medias
                </label>
                <input [ngClass]="{'input-form-dialog-error': formSensor.controls['medium_alerts'].errors?.['max'] || formSensor.controls['medium_alerts'].errors?.['pattern']}" type="text" id="medium_alerts" formControlName="medium_alerts"
                    class="bg-gray-50 border border-gray-300 font-medium text-gray-900 text-[14px] rounded-lg block w-full p-2.5"
                    placeholder="Ingrese" required />
                    <p *ngIf="formSensor.controls['medium_alerts'].errors?.['max']" class="p-red text-xs mt-1">
                        El valor máximo a configurar es de 1000.
                    </p>
                    <p *ngIf="formSensor.controls['medium_alerts'].errors?.['pattern']" class="text-red-500 text-xs mt-1">
                        Solo se permiten números enteros.
                    </p>
            </div>
            <div>
                <label for="red_alerts" class="block mb-2 text-[14px] font-medium label-form-color">
                    Alertas rojas
                </label>
                <input [ngClass]="{'input-form-dialog-error': formSensor.controls['red_alerts'].errors?.['max'] || formSensor.controls['red_alerts'].errors?.['pattern']}" type="text" id="red_alerts" formControlName="red_alerts"
                    class="bg-gray-50 border border-gray-300 font-medium text-gray-900 text-[14px] rounded-lg block w-full p-2.5"
                    placeholder="Ingrese nombre" required />
                    <p *ngIf="formSensor.controls['red_alerts'].errors?.['max']" class="p-red text-xs mt-1">
                        El valor máximo a configurar es de 1000.
                    </p>
                    <p *ngIf="formSensor.controls['red_alerts'].errors?.['pattern']" class="text-red-500 text-xs mt-1">
                        Solo se permiten números enteros.
                    </p>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center" class="gap-4">
    <button (click)="onCancel()" type="button" class="button-dialog w-26 button-table button-stop-to-see-table tracking-wide text-[14px] text-white bg-primary font-medium ">
        Cancelar
    </button>
    <button [disabled]="formSensor.invalid" (click)="updateSensor()" type="button" class="flex justify-center items-center button-dialog w-26 button-table button-see-plant tracking-wide text-[14px] text-white bg-primary font-medium ">
        <span *ngIf="!loader">Editar</span>
        <div *ngIf="loader" class="loader"></div>
    </button>
</mat-dialog-actions>