<mat-dialog-content>
    <div class="relative w-[350px] h-[122px]">
        <div class="flex flex-row justify-center w-full items-start absolute top-4">
            <div class="w-[35px] h-[24px]">
                <img src="icon-success.svg" alt="icon-success-svg">
            </div>
        </div>
        <div class="flex flex-row justify-center absolute bottom-4 left-0 w-full">
            <p class="text-[14px] font-medium p-toast-color">Planta creada con éxito</p>
        </div>
        <div class="w-[12] h-[12] absolute top-4 right-4 cursor-pointer" (click)="onCancel()">
            <img src="icon-close.svg" alt="icon-close-svg">
        </div>
    </div>
</mat-dialog-content>