<mat-dialog-content>
    <div class="pb-6">
        <h2 class="text-[14px] font-medium p-primary-color">{{titleDialog}}</h2>
    </div>
    <div>
        <p class="text-base text-center font-normal p-primary-color">{{descriptionDialog}}</p>
        <p class="text-base text-center font-medium p-primary-color">¿Deseas continuar?</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions aria-hidden="false" align="center" class="gap-4">
    
    <button (click)="onCancel()" type="button" class="button-dialog w-26 button-table button-stop-to-see-table tracking-wide text-[14px] text-white bg-primary font-medium ">
        Cancelar
    </button>
    <button (click)="disableEnableSensor()" type="button" class="button-dialog w-26 button-table button-see-plant tracking-wide text-[14px] text-white bg-primary font-medium ">
        {{btnAction}}
    </button>
</mat-dialog-actions>

