<div class="md:bg-primary flex flex-row h-full">
    <div class="px-6 md:px-0 md:pl-0 h-full relative w-full">
        <div class="hidden md:flex h-full w-[56%] absolute top-0 left-0">
            <img class="w-[100%]" src="Imagen Loguin.png" alt="login-image">
        </div>
        <div class="hidden md:flex absolute degradado md:opacity-[90%] lg:opacity-[85%] top-0 left-0 w-full h-full"></div>
        <div class="hidden md:flex absolute top-0 left-0 h-full flex-col md:w-[0%] md:w-[50%] justify-center pl-18 lg:pr-22">
            <div class="md:mb-3 lg:mb-5">
                <h1 class="md:text-[28px] lg:text-[42px] font-semibold c-secondary">
                    {{ !isRegister ? 'Iniciar sesión' : 'Registrarse'}}
                </h1>
            </div>
            <div class="c-secondary mb-8">
                <p class="md:text-[12px] lg:text-[14px] pr-8">
                    {{ !isRegister ? 'Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma.' : '¡Bienvenido! Estamos encantados de que quieras unirte a nuestra plataforma. Regístrate y comienza a disfrutar de todas las ventajas que ofrecemos. No pierdas la oportunidad de ser parte de nuestra comunidad.' }}
                </p>
            </div>
            <div>
                <ul class="flex flex-col p-0 gap-5 mr-10">
                    <li class="flex flex-row">
                        <div class="w-[24px] mr-3">
                            <img src="icon-monitoring.png" alt="icon-login">
                        </div>
                        <div class="c-secondary">
                            <p class="text-default">Monitoreo integral</p>
                            <p class="text-xs font-light">Administra, monitorea mutiples plantas de forma centralizada
                            </p>
                        </div>
                    </li>
                    <li class="flex flex-row">
                        <div class="w-[20px] mr-4">
                            <img src="icon-star.png" alt="icon-login">
                        </div>
                        <div class="c-secondary">
                            <p class="text-default">Notificaciones en tiempo real</p>
                            <p class="text-xs font-light">Recibi notificaciones en tiempo real sobre las mediciones</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div
            [ngClass]="{'padding-register': isRegister}"
            class="bg-secondary flex flex-col md:justify-center items-center md:items-stretch px-0 pt-10 md:py-0 md:pl-14 md:pr-6 lg:pl-28 lg:pr-16 h-full w-[100%] md:w-[50%] md:rounded-l-[40px] md:absolute md:top-0 md:left-[50%] md:overflow-y-auto">
            <div class="hidden md:flex md:mb-2">
                <h1 class="md:text-[24px] lg:text-[30px] font-semibold p-primary-color">Portal de monitoreo</h1>
            </div>
            <div class="w-[110px] h-[86px] md:hidden bg-logo-login-mobile mb-6"></div>
            <div class="mb-6">
                <h2 class="text-[32px] md:text-[18px] lg:text-lg font-medium p-primary-color-mobile">{{!isRegister ? 'Iniciar sesión' : 'Registrarse'}}</h2>
            </div>
            <div class="w-full md:w-auto md:mb-4">
                <!-- FORM LOGIN/REGISTER FOR MOBILE -->
                <form class="flex w-full md:hidden" (ngSubmit)="isRegister ? signup() : signin()">
                    <div class="flex flex-col gap-4 w-full md:hidden">
                        @if (isRegister) {
                            <div class="flex flex-col px-2 w-full relative md:hidden">
                                <label for="user" class="block mb-2 text-[14px] font-normal text-gray-400">
                                    Usuario
                                </label>
                                <input (input)="msgErrorUsername = ''" [(ngModel)]="username" type="user" id="user" [ngModelOptions]="{standalone: true}"
                                    class="bg-gray-50 border border-gray-300 font-normal text-gray-900 text-[14px] rounded-xl block w-full p-2.5"
                                    placeholder="Ingresa tu nombre de usuario" required />
                                    <p *ngIf="loginFailed" class="absolute top-[98%] left-4 p-red text-[12px]">
                                        {{msgErrorUsername}}
                                    </p>
                            </div>
                        }
                        
                        <div class="flex flex-col px-2 w-full relative md:hidden">
                            <label for="email" class="block mb-2 text-[14px] font-normal text-gray-400">
                                Email
                            </label>
                            <input (input)="msgErrorEmail = ''" [(ngModel)]="email" type="email" id="email" [ngModelOptions]="{standalone: true}"
                                class="bg-gray-50 border border-gray-300 font-normal text-gray-900 text-[14px] rounded-xl block w-full p-2.5"
                                placeholder="Ingresa tu correo electrónico" required />
                                <p *ngIf="loginFailed" class="absolute top-[98%] left-4 p-red text-[12px]">
                                    {{msgErrorEmail}}
                                </p>
                        </div>
                        
                        <div class="relative px-2">
                            <label for="password" class="block mb-2 text-[14px] font-normal text-gray-400">
                                Contraseña
                            </label>
                            <input (keyup.enter)="isRegister ? signup() : signin()" (input)="msgErrorPass = ''" [(ngModel)]="password" [type]="passwordHide ? 'password' : 'text'" [ngModelOptions]="{standalone: true}" type="password" id="password"
                                class="bg-gray-50 border border-gray-300 font-normal text-gray-900 text-[14px] rounded-xl block w-full p-2.5"
                                placeholder="Ingresa tu contraseña" required />
                                <div (click)="tooglePassword()" class=" w-[20px] absolute top-[58%] left-[90%] bg-white">
                                    <img *ngIf="!passwordHide" class="icon-eye-input" src="-remove-red-eye_90161.svg" alt="icon-eye">
                                    <img *ngIf="passwordHide" class="icon-eye-input" src="eye-hidden-design-black-interface-symbol_icon-icons.com_54536.svg" alt="icon-eye">
                                </div>
                                <p *ngIf="loginFailed" class="absolute top-[98%] left-4 p-red text-[12px]">
                                    {{ msgErrorPass || msgError }}
                                </p>
                        </div>
                        @if (isRegister) {
                            <div class="relative px-2">
                                <label for="repassword" class="block mb-2 text-[14px] font-normal text-gray-400">
                                    Repetir contraseña
                                </label>
                                <input (keyup.enter)="isRegister ? signup() : signin()" (input)="msgErrorRePass = ''" [(ngModel)]="repassword" [type]="repasswordHide ? 'password' : 'text'" [ngModelOptions]="{standalone: true}" type="repassword" id="repassword"
                                    class="bg-gray-50 border border-gray-300 font-normal text-gray-900 text-[14px] rounded-xl block w-full p-2.5"
                                    placeholder="Repite tu contraseña" required />
                                    <div (click)="toogleRePassword()" class=" w-[20px] absolute top-[58%] left-[90%] bg-white">
                                        <img *ngIf="!repasswordHide" class="icon-eye-input" src="-remove-red-eye_90161.svg" alt="icon-eye">
                                        <img *ngIf="repasswordHide" class="icon-eye-input" src="eye-hidden-design-black-interface-symbol_icon-icons.com_54536.svg" alt="icon-eye">
                                    </div>
                                    <p *ngIf="loginFailed" class="absolute top-[98%] left-4 p-red text-[12px]">
                                        {{ msgErrorRePass || msgError || '' }}
                                    </p>
                            </div>
                        }
                        <div class="absolute bottom-16 left-0 w-full md:hidden">
                            @if (!isRegister) {
                                <div class="w-full px-6">
                                    <button (click)="signin()" type="button" class=" w-full flex justify-center items-center tracking-wide text-[16px] text-white bg-[#28b1b9] whitespace-nowrap font-medium rounded-2xl py-4 mb-2 focus:outline-none cursor-pointer">
                                        <span *ngIf="!loader">Ingresar</span>
                                        <div *ngIf="loader" class="loader"></div>
                                    </button>
                                </div>
                            }
                            @else {
                                <div class="w-full px-6">
                                    <button (click)="signup()" type="button" class=" w-full flex justify-center items-center tracking-wide text-[16px] text-white bg-[#28b1b9] whitespace-nowrap font-medium rounded-2xl py-4 mb-2 focus:outline-none cursor-pointer">
                                        <span *ngIf="!loader">Registrarse</span>
                                        <div *ngIf="loader" class="loader"></div>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </form>
                <!-- FORM LOGIN/REGISTER FOR TABLETS AND DESKTOP -->
                <form class="hidden md:flex flex-col w-[86%]" (ngSubmit)="isRegister ? signup() : signin()">
                    <p *ngIf="isRegister" class="w-full mb-6 relative">
                        <mat-form-field appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input (input)="msgErrorUsername = ''" [(ngModel)]="username" type="text" inputmode="username" matInput placeholder="Usuario" [ngModelOptions]="{standalone: true}">
                            <p *ngIf="loginFailed" class="absolute md:top-[50%] lg:top-[56%] left-0 p-red text-[1.6vh] mt-1">
                                {{msgErrorUsername}}
                            </p>
                        </mat-form-field>
                    </p>
                    <p class="w-full mb-6 relative">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input (input)="msgErrorEmail = ''" [(ngModel)]="email" type="email" inputmode="email" matInput placeholder="Email" [ngModelOptions]="{standalone: true}">
                            <p *ngIf="loginFailed" class="absolute md:top-[50%] lg:top-[56%] left-0 p-red text-[1.6vh] mt-1">
                                {{msgErrorEmail}}
                            </p>
                        </mat-form-field>
                    </p>
                    <p class="w-full relative mb-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Contraseña</mat-label>
                            <input (keyup.enter)="isRegister ? signup() : signin()" (input)="msgErrorPass = ''" [(ngModel)]="password" [type]="passwordHide ? 'password' : 'text'" matInput placeholder="Contraseña" [ngModelOptions]="{standalone: true}">
                            <div (click)="tooglePassword()" class="md:w-[16px] lg:w-[20px] absolute md:top-[20%] lg:top-[20%] left-[94%] bg-white">
                                <img *ngIf="!passwordHide" class="icon-eye-input" src="-remove-red-eye_90161.svg" alt="icon-eye">
                                <img *ngIf="passwordHide" class="icon-eye-input" src="eye-hidden-design-black-interface-symbol_icon-icons.com_54536.svg" alt="icon-eye">
                            </div>
                            <p *ngIf="loginFailed" class="absolute md:top-[50%] lg:top-[56%] left-0 p-red text-[1.6vh] mt-1">
                                {{ msgErrorPass || msgError }}
                            </p>
                        </mat-form-field>
                    </p>
                    <!-- REGISTER -->
                    <p *ngIf="isRegister" class="w-full relative mb-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Repetir contraseña</mat-label>
                            <input (keyup.enter)="isRegister ? signup() : signin()" [(ngModel)]="repassword" [type]="repasswordHide ? 'password' : 'text'" matInput placeholder="Repetir contraseña" [ngModelOptions]="{standalone: true}">
                            <div (click)="toogleRePassword()" class="md:w-[16px] lg:w-[20px] absolute md:top-[20%] lg:top-[20%] left-[94%] bg-white">
                                <img *ngIf="!repasswordHide" class="icon-eye-input" src="-remove-red-eye_90161.svg" alt="icon-eye">
                                <img *ngIf="repasswordHide" class="icon-eye-input" src="eye-hidden-design-black-interface-symbol_icon-icons.com_54536.svg" alt="icon-eye">
                            </div>
                            <p *ngIf="loginFailed" class="absolute md:top-[50%] lg:top-[56%] left-0 p-red text-[1.6vh] mt-1">
                                {{msgErrorRePass || msgError || ''}}
                            </p>
                        </mat-form-field>
                    </p>
                    <!-- LOGIN -->
                    <div *ngIf="!isRegister" class="flex flex-row justify-between items-center">
                        <div class="w-[60%]">
                            <p (click)="lostPassword()" class="cursor-pointer font-normal md:text-[10px] lg:text-[14px] p-secondary-color forgot-password-text">
                                ¿Olvidaste tu contraseña?
                            </p>
                        </div>
                        <div>
                            <button (click)="signin()" type="button" class="tracking-wide md:text-[10px] lg:text-[14px] text-white bg-primary whitespace-nowrap font-medium md:rounded-xl lg:rounded-2xl md:px-6 lg:px-7 md:py-2 lg:py-3 mb-2 focus:outline-none cursor-pointer">
                                <span *ngIf="!loader">Iniciar sesíon</span>
                                <div *ngIf="loader" class="loader mx-6"></div>
                            </button>
                        </div>
                    </div>
                    <!-- REGISTER -->
                    <div *ngIf="isRegister" class="flex flex-row justify-between items-start">
                        <div class="w-[60%]">
                            <p class="font-normal md:text-[8px] lg:text-[12px] p-gray-color ">
                                -Al menos 8 caracteres, una mayúscula, una minúscula y un carácter especial
                            </p>
                        </div>
                        <div>
                            <button (click)="signup()" type="button" class="tracking-wide md:text-[10px] lg:text-[14px] text-white bg-primary whitespace-nowrap font-medium md:rounded-xl lg:rounded-2xl md:px-6 lg:px-7 md:py-2 lg:py-3 mb-2 focus:outline-none cursor-pointer">
                                <span *ngIf="!loader">Registrarse</span>
                                <div *ngIf="loader" class="loader mx-6"></div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="hidden md:flex flex-col w-[86%] mb-6">
                <p class="p-gray-color font-normal md:text-[10px] lg:text-[12px]">
                    Protegido por reCAPTCHA y sujeto a la
                    <a class="p-bluesky-color" href="">Política de Privacidad</a> y <a href="">Condiciones.</a>
                </p>
            </div>
            <div class="absolute w-full md:w-auto flex flex-row justify-center md:justify-start md:block bottom-10 md:static">
                <p class="p-secondary-color font-normal text-[14px] md:text-[12px] lg:text-[14px]">
                    {{!isRegister ? '¿No tienes una cuenta?':'¿Ya tienes una cuenta?'}}
                    <a 
                        [routerLink]="[isRegister ? '/sign_in' : '/sign_up']" 
                        routerLinkActive="router-link-active"  
                        class="p-bluesky-color ml-2 text-[14px] font-medium md:font-normal">
                        {{!isRegister ? 'Registrarse':'Iniciar sesión'}}
                    </a>
                </p>
            </div>
        </div>
    </div>