<div *ngIf="isSessionActive()" class="h-full w-full flex bg-dashboard">

    <!-- SIDEBAR DESKTOP -->
    <div class="hidden md:block h-full w-[80px] sidebar shadow-2xl shadow-r">
        <div class="w-full flex items-center justify-center py-6">
            <div class="h-[32px] w-[36px]">
                <img src="Logo.svg" alt="logo-icon">
            </div>
        </div>
        <div class="mt-12">
            <ul class="p-0 flex flex-col w-full">
                <li class="w-full flex items-center justify-center pb-8">
                    <a (click)="titlePage = 'Monitoreo global'" [routerLink]="['dashboard']" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img [ngClass]="{'svg-sidebar-unselected': titlePage != 'Monitoreo global'}" class="svg-sidebar" src="Dashboard.svg" alt="dashboard-icon">
                        </div>
                    </a>
                </li>
                <li *ngIf="showAuthorizedOption()" class="w-full flex items-center justify-center pb-8">
                    <a (click)="titlePage = 'Monitoreo por planta'" [routerLink]="['plants/monitoring']" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img [ngClass]="{'svg-sidebar-selected': titlePage == 'Monitoreo por planta'}" class="svg-sidebar" src="Monitoreo por planta.svg" alt="monitoreo-por-planta-icon">
                        </div>
                    </a>
                </li>
                <li *ngIf="showAuthorizedOption()" class="w-full flex items-center justify-center pb-8">
                    <a (click)="titlePage = 'Histórico de sensores'" [routerLink]="['sensors/history']" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img [ngClass]="{'svg-sidebar-selected': titlePage == 'Histórico de sensores'}" class="svg-sidebar" src="Histórico de sensores.svg" alt="historico-sensores-icon">
                        </div>
                    </a>
                </li>
                <li *ngIf="showAuthorizedOption()" class="w-full flex items-center justify-center pb-8">
                    <a (click)="titlePage = 'Histórico de plantas'" [routerLink]="['plants/history']" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img [ngClass]="{'svg-sidebar-selected': titlePage == 'Histórico de plantas'}" class="svg-sidebar" src="Históricodeplantas.svg" alt="historico-plantas-icon">
                        </div>
                    </a>
                </li>
                <li class="w-full flex items-center justify-center pb-8">
                    <a (click)="logout()" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img class="svg-sidebar" src="Cerrarsesión.svg" alt="cerrar-sesion-icon">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class=" md:pl-6 pt-8 md:pr-16 w-full h-full overflow-y-auto ">
        <!-- HEADER Mobile -->
         <header class="flex flex-row justify-between items-end w-full pb-6 mb-4 border-b border-b-gray-300 md:hidden">
            <div class="ml-6 w-[32px] h-[32px] flex flex-col justify-end">
                <button (click)="showSideBar = !showSideBar" aria-controls="default-sidebar" type="button" class="cursor-pointer w-full flex flex-row justify-center items-end btn-menu-mobile md:hidden ">
                    <mat-icon>menu</mat-icon>
                </button>
                <div *ngIf="showSideBar" class="fixed inset-0 bg-black opacity-50 z-90" (click)="showSideBar = !showSideBar"
                ></div>
                <aside [ngClass]="{ 'translate-x-0': showSideBar, '-translate-x-full': !showSideBar}" id="default-sidebar" class="fixed top-0 left-0 z-100 w-64 h-screen transition-transform" aria-label="Sidebar">
                    <div (click)="showSideBar = !showSideBar" class="cursor-pointer cont-btn-close-menu-mobile absolute right-0 top-0 w-10 h-10 flex flex-row justify-center items-center">
                        <mat-icon>close</mat-icon>
                    </div>
                    <div class="h-full px-3 pt-10 pb-4 overflow-y-auto bg-gray-50">
                       <ul class="space-y-2 font-medium">
                          <li>
                             <a (click)="showSideBar = !showSideBar" [routerLink]="['dashboard']" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-300">
                                <div class="h-[20px] w-[20px]">
                                    <img class="" src="Dashboard.svg" alt="dashboard-icon">
                                </div>
                                <span class="ms-3 p-primary-color" >Dashboard</span>
                             </a>
                          </li>
                          <li *ngIf="showAuthorizedOption()">
                             <a (click)="showSideBar = !showSideBar" [routerLink]="['plants/monitoring']" class="flex items-center justify-center p-2 text-gray-900 rounded-lg hover:bg-gray-300">
                                <div class="h-[20px] w-[20px] flex flex-row justify-center items-center">
                                    <img class="svg-sidebar-selected" src="Monitoreo por planta.svg" alt="monitoreo-por-plantas-icon-svg">
                                </div>
                                <span class="flex-1 ms-3 whitespace-nowrap p-primary-color">Monitoreo por planta</span>
                             </a>
                          </li>
                          <li *ngIf="showAuthorizedOption()">
                             <a (click)="showSideBar = !showSideBar" [routerLink]="['sensors/history']" class="flex items-center justify-center p-2 text-gray-900 rounded-lg hover:bg-gray-300 ">
                                <div class="h-[20px] w-[20px] flex flex-row justify-center items-center">
                                    <img class="svg-sidebar-selected " src="Histórico de sensores.svg" alt="historico-de-sensores-icon-svg">
                                </div>
                                <span class="flex-1 ms-3 whitespace-nowrap p-primary-color">Histórico de sensores</span>
                             </a>
                          </li>
                          <li *ngIf="showAuthorizedOption()">
                             <a (click)="showSideBar = !showSideBar" [routerLink]="['plants/history']" class="flex items-center justify-center p-2 text-gray-900 rounded-lg hover:bg-gray-300 ">
                                <div class="h-[20px] w-[20px] flex flex-row justify-center items-center">
                                    <img class="svg-sidebar-selected" src="Históricodeplantas.svg" alt="historico-plantas-icon">
                                </div>
                                <span class="flex-1 ms-3 whitespace-nowrap p-primary-color">Histórico de plantas</span>
                             </a>
                          </li>
                          <li *ngIf="showAuthorizedOption()">
                            <a (click)="showSideBar = !showSideBar" [routerLink]="['profile']" class="a-mat-icon flex items-center justify-center p-2 text-gray-900 rounded-lg hover:bg-gray-300">
                                <mat-icon>account_circle</mat-icon>
                                <span class="flex-1 ms-3 whitespace-nowrap p-primary-color">Perfil</span>
                            </a>
                         </li>
                          <li>
                             <a (click)="logout()" class="a-mat-icon flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-300">
                                <mat-icon>logout</mat-icon>
                                <span class="flex-1 ms-3 whitespace-nowrap p-primary-color">Cerrar sesión</span>
                             </a>
                          </li>
                       </ul>
                    </div>
                 </aside>
            </div>
            <div class="w-[110px] h-[86px] bg-logo-login-mobile md:hidden"></div>
            <div class="mr-6">
                <div class="cursor-pointer w-[32px] h-auto">
                    <img class="w-full" src="icon_notify_mobile.svg" alt="icon_notify_mobile-svg">
                </div>
            </div>
         </header>
        <!-- HEADER DESKTOP -->
        <header class="hidden md:flex flex-row justify-between items-center w-full pb-3">
            <div>
                <div>
                    <h1 class="text-[30px] font-medium py-1">{{titlePage}}</h1>
                </div>
            </div>
            <div>
                <nav>
                    <ul class="p-0 flex flex-row justify-between gap-4">
                        <li class="cursor-pointer pt-1">
                            <div [matMenuTriggerFor]="menuLenguage" class="h-[20px] w-[20px]">
                                <img src="Idioma.svg" alt="lenguage-icon-svg">
                            </div>
                            <mat-menu #menuLenguage="matMenu" xPosition="before">
                                <button mat-menu-item>
                                    <mat-icon>translate</mat-icon>
                                    <span class="text-xs ">Español</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>translate</mat-icon>
                                    <span class="text-xs ">Ingles</span>
                                </button>
                            </mat-menu>
                        </li>
                        <li class="cursor-pointer pt-1">
                            <div [matMenuTriggerFor]="menuSettings" class="h-[20px] w-[20px]">
                                <img src="Ajustes.svg" alt="lenguage-icon-svg">
                            </div>
                            <mat-menu #menuSettings="matMenu" xPosition="before">
                                <button mat-menu-item class="cursor-text">
                                    <mat-icon>tag_faces</mat-icon>
                                    <span class="text-xs ">Estamos trabajando en esta funcionalidad!</span>
                                </button>
                            </mat-menu>
                        </li>
                        <li class="cursor-pointer">
                            <div [matMenuTriggerFor]="menuNotifications" class="h-[20px] w-[20px]">
                                <img src="notification.svg" alt="lenguage-icon-svg">
                            </div>
                            <mat-menu #menuNotifications="matMenu" xPosition="before">
                                <button mat-menu-item class="cursor-text">
                                    <mat-icon>tag_faces</mat-icon>
                                    <span class="text-xs ">Estamos trabajando en esta funcionalidad!</span>
                                </button>
                            </mat-menu>
                        </li>
                        <li class="cursor-pointer">
                            <div [matMenuTriggerFor]="menuProfile">
                                <p class="text-[18px] font-semibold">
                                    {{userUsername}}
                                </p>
                            </div>
                            <mat-menu #menuProfile="matMenu" xPosition="before">
                                <button mat-menu-item (click)="goProfile(); titlePage = 'Perfil de usuario'">
                                    <mat-icon>account_circle</mat-icon>
                                    <span class="text-xs ">Ver perfil</span>
                                </button>
                                <button mat-menu-item (click)="logout()">
                                    <mat-icon>logout</mat-icon>
                                    <span class="text-xs ">Cerrar sesión</span>
                                </button>
                            </mat-menu>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="w-full">
            <router-outlet />
        </div>
    </div>
</div>
<router-outlet *ngIf="!isSessionActive()"></router-outlet>
