@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: Poppins;
}

.bg-primary {
    background-color: #33A3AA;
}

.bg-logo-login-mobile {
    background-color: #d9d9d9;
}

.bg-dashboard {
    background-color: #E9F1F4;
    background-color: #f9f9fa;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-secondary {
    background-color: #FBFCFC;
}

.p-primary-color {
    color: #202020;
}

.p-primary-color-mobile {
    color: #333333;
}

.p-bluesky-color {
    color: #33A3AA;
}

.p-secondary-color {
    color: #47464A;
}

.p-toast-color {
    color: rgba(31, 41, 55, 1);
}

.p-gray-color {
    color: #84818A;
}

.c-secondary {
    color: #FFFFFF;
}

.bg-primary-opacity {
    background-color: rgba(51, 162, 170, 0.598);
}

.p-red {
    color: rgb(255, 16, 16);
}

.skew-text {
    transform: skew(-10deg);
  }

.bg-red {
    background-color: rgba(255, 16, 16, 0.753);
}
.bg-red:hover {
    background-color: rgb(255, 16, 16);
}

.color-icon-login {
    color: #FFB84B;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.text-default {
    font-weight: 300;
    font-size: 14px;
}

.degradado {
    background: linear-gradient(to bottom, #33A3AA, #107076);
    padding: 24px;
}

.button-table {
    width: auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
}

.button-stop-to-see-table {
    background-color: transparent;
    border: 1px solid #33A3AA;
    color: #33A3AA;
}
.button-stop-to-see-table:hover {
    background-color: #33a2aa1d;
}

.button-see-plant:hover {
    background-color: #33a2aab2;
}

.disabled-button {
    cursor: none;
    background-color: rgba(51, 163, 170, 0.3);
}
.disabled-button:hover {
    cursor: text;
    background-color: rgba(51, 163, 170, 0.3);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.label-form-color {
    color: rgba(131, 139, 158, 1);
}

.button-dialog {
    width: 112px;
    padding: 8px 0px 8px 0px;
}

input.input-form-dialog-error {
    border: 1px solid red !important;
}
input.input-form-dialog-error:focus-visible {
    outline: none !important;
    border: 2px solid red !important;
    border-color: red !important; 
}

.sidebar {
    background-color: #FFFFFF;
}

.svg-sidebar:hover {
    // filter: invert(50%) sepia(4%) saturate(10%) hue-rotate(180deg) brightness(86%) contrast(88%);
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.svg-sidebar-selected {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.svg-sidebar-unselected {
    filter: invert(90%) sepia(4%) saturate(10%) hue-rotate(180deg) brightness(86%) contrast(88%);
}

.btn-menu-mobile .mat-icon {
    color: rgba(31, 31, 31, 1);
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.849);
    border-top-color: transparent;
    animation: rot1 1.2s linear infinite;
  }
  
  @keyframes rot1 {
    to {
      transform: rotate(360deg);
    }
  }

@media (max-width: 767px) {
    .bg-dashboard {
        background-color: #f9f9fa;
    }

}


@media (max-width: 850px) {
    .button-dialog {
        width: 92px;
        font-size: 12px;
    }
}