
.card-p-color {
    color: #8E8EA1;
}

.card-number-color {
    color: #22242C;
}

/* TABLE STYLE */

.table-section {
    overflow-y: auto;
}

.table-section::-webkit-scrollbar {
    width: 7px;
}

.table-section::-webkit-scrollbar-thumb {
    background: #d9d9d9b0;
    border-radius: 8px;
}
.table-section::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9bd;
}

.demo-table {
    width: 100%;
    background-color: transparent;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-header-cell {
    border: none;
    color: #B0CAD1;
}

.mat-mdc-row .mat-mdc-cell:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.mat-mdc-row .mat-mdc-cell:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 0;
}

.mat-mdc-cell {
    font-size: 0.7rem;
    max-height: 200px;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #EFF2F7;
    cursor: pointer;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.b-add-plant {
    border: 1px solid #B0CAD1;
}

.header-table {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    border-bottom: 1px solid #B0CAD1;
    background-color: white;
}

.text-header-cell {
    font-size: 12px;
}

.bg-container-unselected-plant {
    height: 178px;
    border-radius: 15px;
    background-color:rgba(255, 255, 255, 0.39);
}

.card-sensor {
    border: 1px solid transparent;
    transition: linear 0.3s;
}
.card-sensor:hover {
    filter: drop-shadow(var(--drop-shadow-md));
    border: 1px solid rgba(51, 162, 170, 0.452);
}

.sensor-card-hover {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: linear 0.3s;
}
.sensor-card-hover:hover {
    opacity: 1;
    background-color: rgba(51, 162, 170, 0.192);
}

.button-sensor-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #33a2aaab;
    cursor: pointer;
    transition: linear 0.3s;
}
.button-sensor-card:hover {
    background-color: #1c8b93d7;
}

.button-sensor-card .mat-icon {
    color: white !important;
    fill: white !important;
}

.delete-btn .mat-icon {
    color: rgba(255, 16, 16, 0.753) !important;
    fill: white !important;
}

.btn-ord-table {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-ord-table .mat-icon {
    color: gray !important;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-ord-table .mat-icon:hover {
    color: black !important;
}

.text-summary-card {
    font-size: 12px;
}

@media (max-width: 1024px) {
    .text-header-cell {
        font-size: 10px;
    }

    .text-summary-card {
        font-size: 10px;
    }

}

@media (max-width: 950px) {
    .text-header-cell-hide {
        display: none;
    }

    .header-table {
        top: -2%;
    }

    .text-summary-card {
        font-size: 8px;
    }
}

@media (max-width: 767px) {

    .text-summary-card {
        font-size: 12px;
    }

    .header-table {
        position: sticky;
        z-index: 2;
        top: 0;
        left: 0;
        border-bottom: none;
        background-color: white;
        padding-bottom: 14px;
    }

    .cont-icon-create-plant:hover {
        background-color: #61d8e0;
    }

    .cont-icon-create-plant .mat-icon {
        color: white;
    }
}