<div class="h-full w-full flex bg-dashboard">
    <div class="h-full w-[80px] sidebar shadow-2xl shadow-r">
        <div class="w-full flex items-center justify-center py-6">
            <div class="h-[32px] w-[36px]">
                <img src="Logo.svg" alt="logo-icon">
            </div>
        </div>
        <div class="mt-12">
            <ul class="p-0 flex flex-col w-full">
                <li class="w-full flex items-center justify-center pb-8">
                    <a [routerLink]="['dashboard']" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img class="svg-sidebar" src="Dashboard.svg" alt="dashboard-icon">
                        </div>
                    </a>
                </li>
                <li class="w-full flex items-center justify-center pb-8">
                    <a [routerLink]="['dashboard']" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img class="svg-sidebar" src="Monitoreo por planta.svg" alt="dashboard-icon">
                        </div>
                    </a>
                </li>
                <li class="w-full flex items-center justify-center pb-8">
                    <a [routerLink]="['dashboard']" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img class="svg-sidebar" src="Histórico de sensores.svg" alt="dashboard-icon">
                        </div>
                    </a>
                </li>
                <li class="w-full flex items-center justify-center pb-8">
                    <a [routerLink]="['dashboard']" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img class="svg-sidebar" src="Históricodeplantas.svg" alt="dashboard-icon">
                        </div>
                    </a>
                </li>
                <li class="w-full flex items-center justify-center pb-8">
                    <a [routerLink]="['dashboard']" class="cursor-pointer">
                        <div class="h-[20px] w-[20px]">
                            <img class="svg-sidebar" src="Cerrarsesión.svg" alt="dashboard-icon">
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="pl-6 pt-8 pr-16 w-full h-full overflow-y-auto ">
        <header class=" flex flex-row justify-between items-center w-full pb-3">
            <div>
                <div>
                    <h1 class="text-[30px] font-medium py-1">Monitoreo global</h1>
                </div>
            </div>
            <div>
                <nav>
                    <ul class="p-0 flex flex-row justify-between gap-4">
                        <li class="cursor-pointer pt-1">
                            <div class="h-[20px] w-[20px]">
                                <img src="Idioma.svg" alt="lenguage-icon-svg">
                            </div>
                        </li>
                        <li class="cursor-pointer pt-1">
                            <div class="h-[20px] w-[20px]">
                                <img src="Ajustes.svg" alt="lenguage-icon-svg">
                            </div>
                        </li>
                        <li class="cursor-pointer">
                            <div class="h-[20px] w-[20px]">
                                <img src="notification.svg" alt="lenguage-icon-svg">
                            </div>
                        </li>
                        <li class="cursor-pointer">
                            <div>
                                <p class="text-[18px] font-semibold">
                                    {{userFullName}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="w-full flex flex-col gap-4">
            <article class="w-full flex flex-row justify-between ">
                <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                    <div class="w-full h-full flex flex-row justify-between items-center">
                        <div class="flex flex-col justify-start items-start pl-4">
                            <p class="text-[12px] font-normal card-p-color">Lecturas OK</p>
                            <p class="text-[20px] font-bold card-number-color">1234</p>
                        </div>
                        <div class="flex justify-center items-center pr-4">
                            <div class="h-[60px] w-[60px]">
                                <img src="ok_icon.svg" alt="ok-icon-svg">
                            </div>
                        </div>
                    </div>
                </aside>
                <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                    <div class="w-full h-full flex flex-row justify-between items-center">
                        <div class="flex flex-col justify-start items-start pl-4">
                            <p class="text-[12px] font-normal card-p-color">Alertas medias</p>
                            <p class="text-[20px] font-bold card-number-color">932</p>
                        </div>
                        <div class="flex justify-center items-center pr-4">
                            <div class="h-[60px] w-[60px]">
                                <img src="warning_icon.svg" alt="warning-icon-svg">
                            </div>
                        </div>
                    </div>
                </aside>
                <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                    <div class="w-full h-full flex flex-row justify-between items-center">
                        <div class="flex flex-col justify-start items-start pl-4">
                            <p class="text-[12px] font-normal card-p-color">Alertas rojas</p>
                            <p class="text-[20px] font-bold card-number-color">932</p>
                        </div>
                        <div class="flex justify-center items-center pr-4">
                            <div class="h-[60px] w-[60px]">
                                <img src="danger_icon.svg" alt="danger-icon-svg">
                            </div>
                        </div>
                    </div>
                </aside>
                <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                    <div class="w-full h-full flex flex-row justify-between items-center">
                        <div class="flex flex-col justify-start items-start pl-4">
                            <p class="text-[12px] font-normal card-p-color">Sensores deshabilitados</p>
                            <p class="text-[20px] font-bold card-number-color">932</p>
                        </div>
                        <div class="flex justify-center items-center pr-4">
                            <div class="h-[60px] w-[60px]">
                                <img src="disabled_icon.svg" alt="disabled-icon-svg">
                            </div>
                        </div>
                    </div>
                </aside>
            </article>
            <article class="w-full flex flex-col justify-between rounded-xl bg-white p-3 h-[56vh] overflow-y-auto">
                <div class="header-table mx-4 flex flex-row justify-start items-center gap-6 py-4">
                    <div>
                        <h2 class="text-[16px] font-semibold">
                            Plantas
                        </h2>
                    </div>
                    <div>
                        <button (click)="openDialogCreatePlant()" class="rounded-sm py-1 px-4 b-add-plant text-[12px] font-medium cursor-pointer ">
                            + Crear nueva planta
                        </button>
                    </div>
                </div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef>País</th>
                        <td mat-cell *matCellDef="let element">{{element.country}}</td>
                    </ng-container>

                    <ng-container matColumnDef="plant_name">
                        <th mat-header-cell *matHeaderCellDef>Nombre de la planta</th>
                        <td mat-cell *matCellDef="let element">{{element.plant_name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="read_ok">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="flex flex-row items-center gap-1">
                                <div class="h-[14px] w-[14px]">
                                    <img src="icon-ok-small.svg" alt="icon-ok-svg">
                                </div>
                                <p class="text-[14px] font-medium ">Lecturas OK</p>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.read_ok}}</td>
                    </ng-container>

                    <ng-container matColumnDef="medium_alerts">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="flex flex-row items-center gap-1">
                                <div class="h-[14px] w-[14px]">
                                    <img src="icon-warning-small.svg" alt="icon-warning-svg">
                                </div>
                                <p class="text-[14px] font-medium ">Alertas medias</p>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.medium_alerts}}</td>
                    </ng-container>

                    <ng-container matColumnDef="red_alerts">
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="flex flex-row items-center gap-1">
                                <div class="h-[14px] w-[14px]">
                                    <img src="icon-danger-small.svg" alt="icon-warning-svg">
                                </div>
                                <p class="text-[14px] font-medium ">Alertas Rojas</p>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.red_alerts}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex flex-row items-center gap-6">
                                <div>
                                    <button *ngIf="plantSelected" type="button" class="button-table button-stop-to-see-table tracking-wide text-[12px] text-white bg-primary font-medium ">
                                        Dejar de ver
                                    </button>
                                    <button *ngIf="!plantSelected" type="button" class="button-table button-see-plant tracking-wide text-[12px] text-white bg-primary font-medium ">
                                        Ver planta
                                    </button>
                                </div>
                                <div class="cursor-pointer">
                                    <img src="icon-sett-table.svg" alt="icon-settings-svg">
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </article>
            <article class="w-full flex flex-col gap-3 mt-3 pb-6">
                <div class="w-full flex flex-col">
                    <div>
                        <h3 class="text-[16px] font-medium">
                            Monitoreo por plantas
                        </h3>
                    </div>
                    <div *ngIf="plantSelected">
                        <p class="text-[12px] font-semibold p-bluesky-color">Argentina, Quilmes</p>
                    </div>
                </div>
                <div class="bg-container-unselected-plant w-full flex flex-col justify-center items-center ">
                    <p class="text-[14px] font-semibold ">Selecciona una planta de la tabla,</p>
                    <p class="text-[14px] font-normal ">para mostrar resultados.</p>
                </div>
                <div *ngIf="plantSelected" class="w-full flex flex-row justify-between flex-wrap gap-y-4">
                    <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                        <div class="w-full h-full flex flex-row justify-between items-center">
                            <div class="flex flex-col justify-start items-start pl-4">
                                <p class="text-[12px] font-normal card-p-color">Temperatura</p>
                                <div class="flex flex-row gap-3">
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-ok-small.svg" alt="icon-ok-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">100</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-warning-small.svg" alt="icon-ok-warning-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">20</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-danger-small.svg" alt="icon-danger-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center items-center pr-4">
                                <div class="h-[60px] w-[60px]">
                                    <img src="icon-temperature.svg" alt="icon-temperature-svg">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                        <div class="w-full h-full flex flex-row justify-between items-center">
                            <div class="flex flex-col justify-start items-start pl-4">
                                <p class="text-[12px] font-normal card-p-color">Presión</p>
                                <div class="flex flex-row gap-3">
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-ok-small.svg" alt="icon-ok-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">100</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-warning-small.svg" alt="icon-ok-warning-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">20</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-danger-small.svg" alt="icon-danger-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center items-center pr-4">
                                <div class="h-[60px] w-[60px]">
                                    <img src="icon-presion.svg" alt="icon-presion-svg">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                        <div class="w-full h-full flex flex-row justify-between items-center">
                            <div class="flex flex-col justify-start items-start pl-4">
                                <p class="text-[12px] font-normal card-p-color">Viento</p>
                                <div class="flex flex-row gap-3">
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-ok-small.svg" alt="icon-ok-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">100</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-warning-small.svg" alt="icon-ok-warning-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">20</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-danger-small.svg" alt="icon-danger-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center items-center pr-4">
                                <div class="h-[60px] w-[60px]">
                                    <img src="icon-wind.svg" alt="icon-wind-svg">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                        <div class="w-full h-full flex flex-row justify-between items-center">
                            <div class="flex flex-col justify-start items-start pl-4">
                                <p class="text-[12px] font-normal card-p-color">Niveles</p>
                                <div class="flex flex-row gap-3">
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-ok-small.svg" alt="icon-ok-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">100</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-warning-small.svg" alt="icon-ok-warning-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">20</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-danger-small.svg" alt="icon-danger-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center items-center pr-4">
                                <div class="h-[60px] w-[60px]">
                                    <img src="icon-levels.svg" alt="icon-levels-svg">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                        <div class="w-full h-full flex flex-row justify-between items-center">
                            <div class="flex flex-col justify-start items-start pl-4">
                                <p class="text-[12px] font-normal card-p-color">Energía</p>
                                <div class="flex flex-row gap-3">
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-ok-small.svg" alt="icon-ok-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">100</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-warning-small.svg" alt="icon-ok-warning-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">20</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-danger-small.svg" alt="icon-danger-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center items-center pr-4">
                                <div class="h-[60px] w-[60px]">
                                    <img src="icon-energy.svg" alt="icon-energy-svg">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                        <div class="w-full h-full flex flex-row justify-between items-center">
                            <div class="flex flex-col justify-start items-start pl-4">
                                <p class="text-[12px] font-normal card-p-color">Tensión</p>
                                <div class="flex flex-row gap-3">
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-ok-small.svg" alt="icon-ok-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">100</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-warning-small.svg" alt="icon-ok-warning-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">20</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-danger-small.svg" alt="icon-danger-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center items-center pr-4">
                                <div class="h-[60px] w-[60px]">
                                    <img src="icon-tension.svg" alt="icon-tension-svg">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                        <div class="w-full h-full flex flex-row justify-between items-center">
                            <div class="flex flex-col justify-start items-start pl-4">
                                <p class="text-[12px] font-normal card-p-color">Monóxido de carbono</p>
                                <div class="flex flex-row gap-3">
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-ok-small.svg" alt="icon-ok-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">100</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-warning-small.svg" alt="icon-ok-warning-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">20</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-danger-small.svg" alt="icon-danger-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center items-center pr-4">
                                <div class="h-[60px] w-[60px]">
                                    <img src="icon-co2.svg" alt="icon-co2-svg">
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="h-[90px] w-[256px] bg-white rounded-xl">
                        <div class="w-full h-full flex flex-row justify-between items-center">
                            <div class="flex flex-col justify-start items-start pl-4 gap-2">
                                <p class="text-[12px] font-normal card-p-color">Otros gases</p>
                                <div class="flex flex-row gap-3">
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-ok-small.svg" alt="icon-ok-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">100</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-warning-small.svg" alt="icon-ok-warning-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">20</p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row gap-1 items-center">
                                        <div class="h-[14px] w-[14px]">
                                            <img src="icon-danger-small.svg" alt="icon-danger-small-svg">
                                        </div>
                                        <div>
                                            <p class="text-[12px] font-normal">2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-center items-center pr-4">
                                <div class="h-[60px] w-[60px]">
                                    <img src="icon-gases.svg" alt="icon-gases-svg">
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </article>
        </main>
    </div>
</div>