<main class="w-full flex justify-center h-full items-center">
    <div class="flex gap-10 flex-col justify-center items-center w-full h-[80vh] md:h-[50vh] rounded-xl bg-white">
        <div class="opacity-[0.8] h-32 w-32">
            <img class="h-full w-full" src="warning_icon.svg" alt="warning-icon-svg">
        </div>
        <h2 class="px-6 text-center md:text-start p-gray-color text-sm font-medium">
            Lo sentimos, ¡estamos trabajando en esta sección!, por favor, vuelva más tarde.
        </h2>
    </div>
</main>